{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <img src="{{ url_for('static', filename = 'profile_pics/'+ post.author.image_file) }}" alt="profile-pic" class="rounded-circle article-img">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
              {% if current_user==post.author %}
                <div>
                    <a href="{{ url_for('updatepost', post_id = post.id) }}" class="btn btn-secondary btn-sm">Update</a>
                    <button type="button" class="btn btn-danger btn-sm"><a class="text-white" href="{{ url_for('delete_post',post_id = post.id) }}">Delete</a></button>
                  </div>
                
              {% endif %}
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
{% endblock content %}
